--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3
-- Dumped by pg_dump version 16.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: produits; Type: TABLE; Schema: public; Owner: ocoffeemaster
--

CREATE TABLE public.produits (
    id smallint NOT NULL,
    name text,
    description text,
    reference integer NOT NULL,
    origine text,
    price real NOT NULL,
    type text,
    disponibilite text
);


ALTER TABLE public.produits OWNER TO ocoffeemaster;

--
-- Name: produits_id_seq; Type: SEQUENCE; Schema: public; Owner: ocoffeemaster
--

ALTER TABLE public.produits ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.produits_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: produits; Type: TABLE DATA; Schema: public; Owner: ocoffeemaster
--



--
-- Name: produits_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ocoffeemaster
--

SELECT pg_catalog.setval('public.produits_id_seq', 1, false);


--
-- Name: produits produits_pkey; Type: CONSTRAINT; Schema: public; Owner: ocoffeemaster
--

ALTER TABLE ONLY public.produits
    ADD CONSTRAINT produits_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

