<!--!----------------- FOOTER ------------------>

<footer>

        <div class="container-footer">
                <img class="logo-footer" src="../images/logo.svg" alt="logo-footer">
                <p class="text-logo-footer">O'Coffee</p>
                <p class="adress">Rue du Torréfacteur</p>
                <p class="code-postal">37000</p>
                <p class="ville">Tours</p>
        </div>

        

</footer>

<script src="./js/header.js"></script>

</body>