

<!--!----------------- HEADER ------------------>
    
        <header>

            <div class="bandeau">
                <img class="logo-bandeau" src="/images/logo.svg" alt="logo">
                <h3 class="text-logo">O'Coffee</h3>
            </div>

            <div id="mySidenav" class="sidenav">

                <a id="closeBtn" href="#" class="close">×</a>
    
                
                    <a href="/">Accueil</a>
                    <a href="/shoppage">Catalogue</a>
                    <a href="/contact">Contact</a>
                
    
            </div>
            
            <a href="#" id="openBtn" title="Ouvrir le menu">
                <button class="burger-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </a>

        </header>
    