

.bloc-btn {

    display: flex;
    justify-content: center;

    margin-top: 40px;

    

    .btn {
        text-decoration: none;
        font-size: 16px;
        font-weight: 200;
        letter-spacing: 1px;
        padding: 13px 20px 13px;
        outline: 0;
        border: 1px solid $dark-brown;
        border-radius: 10px;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        color: $grey;
        user-select: none;
        
        touch-action: manipulation;
    
        font-family: "Kalam", cursive;
    
        
    }
    
    .btn:after {
        content: "";
        background-color: $light-brown;
        border-radius: 10px;
        width: 100%;
        z-index: -1;
        position: absolute;
        height: 100%;
        top: 7px;
        left: 7px;
        transition: 0.2s;
    
        
    }
    
    .btn:hover:after {
        top: 0px;
        left: 0px;
    }

}

