

    

    .card-produit{

        font-family: "Mulish", sans-serif;

        background-color: $light-brown;
        color: $grey;

        width: 85%;

        

        border-radius: 10px;

        .img-produit{

            width: 100%;
            max-height: 200px;
            object-fit: cover;

            border-radius: 10px;

        }
        .sous-titre-produit{

            padding: 20px;
        
        }
        .text-produit{

            padding: 0 20px 10px 20px;
        
        }
        .bloc-card-btn{

            margin: 25px;
            
            display: flex;
            justify-content: end;

            .btn-produit{

                text-decoration: none;

                color: $grey;

            }
        
        }

    }




