@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

footer .container-footer {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 70px;
  background-color: #795548;
  border-radius: 64% 36% 0 0/34% 29% 71% 66%;
  color: #D7CCC8;
}
footer .container-footer .logo-footer {
  width: 80px;
}
footer .container-footer .text-logo-footer {
  font-family: "Kalam", cursive;
  font-size: 20px;
  margin-bottom: 15px;
}
footer .container-footer .adress {
  font-family: "Mulish", sans-serif;
  margin-bottom: 10px;
}
footer .container-footer .code-postal {
  font-family: "Mulish", sans-serif;
  margin-bottom: 10px;
}
footer .container-footer .ville {
  font-family: "Mulish", sans-serif;
  margin-bottom: 10px;
}

header {
  /* Icône burger */
}
@media screen and (min-width: 1400px) {
  header {
    display: flex;
    flex-wrap: nowrap;
  }
}
header .bandeau {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  max-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #795548;
}
header .bandeau .logo-bandeau {
  max-width: 70px;
  padding: 20px 0 20px 0;
}
header .bandeau .text-logo {
  font-family: "Kalam", cursive;
  color: #D7CCC8;
  font-size: 25px;
}
header .sidenav {
  font-family: "Mulish", sans-serif;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: -250px;
  background-color: #D7CCC8;
  padding-top: 60px;
  transition: right 0.5s ease;
}
header .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #795548;
  display: block;
  transition: 0.3s;
}
header .sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}
@media screen and (min-width: 1400px) {
  header .sidenav {
    position: absolute;
    height: 60px;
    right: 25%;
    display: flex;
    padding-top: 35px;
    background-color: transparent;
  }
  header .sidenav a {
    color: #D7CCC8;
    font-size: 20px;
  }
  header .sidenav .close {
    visibility: hidden;
    position: relative;
    right: 250px;
  }
}
header .sidenav a:hover {
  color: #111;
}
header .sidenav.active {
  right: 0;
}
@media screen and (min-width: 1400px) {
  header .sidenav.active {
    right: 350px;
  }
}
header .burger-icon {
  background-color: transparent;
  border: none;
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
header .burger-icon span {
  display: block;
  width: 35px;
  height: 5px;
  border-radius: 10px;
  background-color: #F7DBB9;
  margin: 4px;
}
@media screen and (min-width: 1400px) {
  header .burger-icon {
    visibility: hidden;
  }
}

.bloc-produit {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  place-items: center;
}
@media screen and (min-width: 1400px) {
  .bloc-produit {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
  }
}

.bloc-btn {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.bloc-btn .btn {
  text-decoration: none;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid #3E1E04;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: #D7CCC8;
  user-select: none;
  touch-action: manipulation;
  font-family: "Kalam", cursive;
}
.bloc-btn .btn:after {
  content: "";
  background-color: #795548;
  border-radius: 10px;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}
.bloc-btn .btn:hover:after {
  top: 0px;
  left: 0px;
}

.card-produit {
  font-family: "Mulish", sans-serif;
  background-color: #795548;
  color: #D7CCC8;
  width: 85%;
  border-radius: 10px;
}
.card-produit .img-produit {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.card-produit .sous-titre-produit {
  padding: 20px;
}
.card-produit .text-produit {
  padding: 0 20px 10px 20px;
}
.card-produit .bloc-card-btn {
  margin: 25px;
  display: flex;
  justify-content: end;
}
.card-produit .bloc-card-btn .btn-produit {
  text-decoration: none;
  color: #D7CCC8;
}

.bloc-filter {
  margin: 30px;
}
.bloc-filter .filter {
  width: 100px;
  height: 40px;
  border: solid 2px #795548;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .bloc-presentation {
  font-family: "Mulish", sans-serif;
  width: 100%;
  margin-bottom: 50px;
}
.container .bloc-presentation .img-presentation {
  width: 100%;
}
.container .bloc-presentation .sous-bloc-left {
  margin: 20px;
}
.container .bloc-presentation .sous-bloc-left .titre-presentation {
  font-family: "Kalam", cursive;
  font-size: 30px;
  color: #3E1E04;
  text-align: center;
  margin-bottom: 20px;
}
.container .bloc-presentation .sous-bloc-left .text-presentation {
  text-align: center;
  margin-bottom: 40px;
  color: #3E1E04;
}
@media screen and (min-width: 1400px) {
  .container .bloc-presentation {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 30px;
    width: 95%;
  }
  .container .bloc-presentation .img-presentation {
    border-radius: 5px;
  }
  .container .bloc-presentation .sous-bloc-left {
    margin-right: 50px;
  }
}
.container .titre-nouveautees {
  text-align: center;
  font-family: "Kalam", cursive;
  font-size: 25px;
  color: #3E1E04;
  margin-bottom: 30px;
}

.container-product {
  font-family: "Mulish", sans-serif;
  color: #795548;
}
.container-product .bloc-product {
  width: 100%;
}
.container-product .bloc-product .card-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-product .bloc-product .card-product .img-product {
  width: 100%;
  max-height: 50rem;
  object-fit: cover;
}
.container-product .bloc-product .card-product .bloc-text-product {
  box-sizing: border-box;
  width: 85%;
  margin: 20px;
  padding: 20px;
  background-color: #F7DBB9;
  border-radius: 10px;
}
.container-product .bloc-product .card-product .bloc-text-product .date-publication {
  text-align: end;
}
.container-product .bloc-product .card-product .bloc-text-product .title-product {
  font-weight: 900;
  margin: 15px 0 25px 0;
}
.container-product .bloc-product .card-product .bloc-text-product .unite-product {
  display: flex;
  flex-wrap: wrap;
}
.container-product .bloc-product .card-product .bloc-text-product .unite-product .sous-title-product {
  margin-bottom: 15px;
  font-weight: 900;
}
.container-product .bloc-product .card-product .bloc-text-product .unite-product .text-product {
  margin-bottom: 15px;
}
@media screen and (min-width: 1400px) {
  .container-product .bloc-product .card-product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container-product .bloc-product .card-product .img-product {
    width: 40%;
    max-height: 30rem;
    margin-top: 50px;
    border-radius: 10px;
  }
  .container-product .bloc-product .card-product .bloc-text-product {
    width: 40%;
  }
}

.bloc-banner {
  width: 100%;
  height: 50vh;
  background-image: url(../images/coffees/100955890.png);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.bloc-banner .title-shop-page {
  font-family: "Kalam", cursive;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 3rem;
}

.container-error {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-image: url(../images/coffees/tache-coffee.png);
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Kalam", cursive;
  color: #795548;
}
.container-error .error-404-1 .number {
  font-size: 30em;
}
.container-error .link-return {
  text-align: center;
  line-height: 2em;
}
.container-error .link-return .text-return-1 {
  font-size: 1.5em;
}
.container-error .link-return .text-return-2 {
  font-size: 1em;
}
.container-error .error-404-2 .number {
  font-family: "Kalam", cursive;
  font-size: 30em;
}

html, body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
html .container-contact, body .container-contact {
  flex: 1 0 auto;
  box-sizing: border-box;
}
html .container-contact .bloc-contact, body .container-contact .bloc-contact {
  margin: 10px 10px 50px 10px;
  box-sizing: border-box;
}
html .container-contact .bloc-contact #contact-form, body .container-contact .bloc-contact #contact-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
html .container-contact .bloc-contact #contact-form .item-form, body .container-contact .bloc-contact #contact-form .item-form {
  font-family: "Mulish", sans-serif;
  color: #795548;
  margin: 25px 0 25px 0;
}
html .container-contact .bloc-contact #contact-form .champ-form, body .container-contact .bloc-contact #contact-form .champ-form {
  width: 90%;
  height: 25px;
  color: #795548;
}
html .container-contact .bloc-contact #contact-form .champ-form-message, body .container-contact .bloc-contact #contact-form .champ-form-message {
  width: 90%;
  height: 70px;
  color: #795548;
}
html .container-contact .bloc-contact #contact-form .btn-contact, body .container-contact .bloc-contact #contact-form .btn-contact {
  width: 30%;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: #795548;
  margin-top: 20px;
  font-family: "Mulish", sans-serif;
  color: #D7CCC8;
}
html .container-contact .bloc-contact #contact-form .btn-contact:active, body .container-contact .bloc-contact #contact-form .btn-contact:active {
  background-color: #D7CCC8;
  color: #795548;
  border: 2px solid #795548;
}
@media screen and (min-width: 1400px) {
  html .container-contact .bloc-contact #contact-form .champ-form, body .container-contact .bloc-contact #contact-form .champ-form {
    width: 40%;
  }
  html .container-contact .bloc-contact #contact-form .champ-form-message, body .container-contact .bloc-contact #contact-form .champ-form-message {
    width: 40%;
  }
  html .container-contact .bloc-contact #contact-form .btn-contact, body .container-contact .bloc-contact #contact-form .btn-contact {
    width: 15%;
  }
}

/*# sourceMappingURL=style.css.map */
