<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<%- include('partials/header') %>

<title>Page d'accueil</title>

<!--!----------------- BLOC-HOMEPAGE------------------>

<div class="container">

    <!--*---------------- BLOC-PRESENTATION------------------>
    
                <section class="bloc-presentation">
    
                    <img class="img-presentation" src="/images/about.jpg" alt="img-presentation">
    
                    <div class="sous-bloc-left">
                        <h1 class="titre-presentation">O'Coffee</h1>
                        <p class="text-presentation">Chez O'Coffee, nous sommes passionnés par l'art du café. Situés au cœur de régions productrices renommées, nous sélectionnons avec soin des grains de café de haute qualité, cultivés de manière éthique et durable. Notre objectif est de vous offrir une expérience café exceptionnelle, directement à votre porte.</p>
                        
                        <div class="bloc-btn" title="Voir notre catalogue">
                            <a class="btn" href="/shoppage">Voir notre catalogue</a>
                        </div>
    
                    </div>
    
                </section>
    
    <!--*---------------- BLOC-PRESENTATION------------------>